In [12]:
import pandas as pd
df = pd.read_excel('116_DT_MLTM_1948_20240502163821.xlsx')
df

,2018.01 월,2018.02 월,2018.03 월,2018.04 월,2018.05 월,2018.06 월,2018.07 월,2018.08 월,2018.09 월,2018.10 월,...,2023.06 월,2023.07 월,2023.08 월,2023.09 월,2023.10 월,2023.11 월,2023.12 월,2024.01 월,2024.02 월,2024.03 월
0,6123,9941,14691,20433,26432,30616,37356,41899,45744,51731,...,17746,20371,23861,24237,27921,34824,38777,2525,5028,6601
1,186,356,553,786,1056,1420,1810,1931,2033,2155,...,192,209,296,333,350,363,379,7,29,53
2,524,919,1414,1956,2577,3272,3817,4116,4370,4534,...,347,385,416,447,502,553,583,51,93,134
3,3254,5537,7492,9790,12469,14747,17596,19851,21854,24076,...,1667,1947,2193,2398,2541,2851,3102,255,376,536
4,128,160,208,353,415,533,651,689,738,756,...,446,587,587,587,608,654,670,28,28,28
5,2031,2969,5024,7548,9915,10644,13482,15312,16749,20210,...,15094,17243,20369,20472,23920,30403,34043,2184,4502,5850

In [13]:
colLength = len(df.columns)
colLength

75

In [15]:
for y in range(100):
    for m in range(12):
        col = y * 12 + m
        
        if col >= colLength:
            break
        
        total = df.iloc[0, col]
        apt = df.iloc[5, col]
        notApt = total - apt
                
        if m > 0:
            total -= df.iloc[0, col - 1]
            apt -= df.iloc[5, col - 1]
            notApt = total - apt
        
        print(f"{y + 2018}\t{m + 1}\t{apt}\t{notApt}\t{total}")

2018	1	2031	4092	6123
2018	2	938	2880	3818
2018	3	2055	2695	4750
2018	4	2524	3218	5742
2018	5	2367	3632	5999
2018	6	729	3455	4184
2018	7	2838	3902	6740
2018	8	1830	2713	4543
2018	9	1437	2408	3845
2018	10	3461	2526	5987
2018	11	6143	2538	8681
2018	12	6495	3051	9546
2019	1	5234	3142	8376
2019	2	2980	2619	5599
2019	3	11061	4271	15332
2019	4	1012	2612	3624
2019	5	1313	2166	3479
2019	6	836	1858	2694
2019	7	2118	1757	3875
2019	8	2786	1704	4490
2019	9	1187	1578	2765
2019	10	1145	1985	3130
2019	11	1819	2624	4443
2019	12	4729	2048	6777
2020	1	1626	1970	3596
2020	2	3293	2570	5863
2020	3	2384	2417	4801
2020	4	2141	2342	4483
2020	5	1778	2458	4236
2020	6	770	3056	3826
2020	7	2013	2577	4590
2020	8	967	2271	3238
2020	9	2084	3418	5502
2020	10	5046	2142	7188
2020	11	2765	2186	4951
2020	12	5537	2386	7923
2021	1	703	2209	2912
2021	2	4777	2277	7054
2021	3	4281	2590	6871
2021	4	7406	2925	10331
2021	5	2224	2443	4667
2021	6	3036	3409	6445
2021	7	5888	3211	9099
2021	8	2209	2508	4717
2021	9	9774	2252	12026
2021	10	6406	1751	8157
2021	11	5406	2145	7551
2021	12	1552	3895	5447
2022	1	2394	1469	3863
2022	2	4072	2056	6128
2022	3	1105	2022	3127
2022	4	2057	1818	3875
2022	5	1260	1480	2740
2022	6	3473	2580	6053
2022	7	2040	1204	3244
2022	8	2213	672	2885
2022	9	1027	-29	998
2022	10	1512	3050	4562
2022	11	1129	1167	2296
2022	12	3055	938	3993
2023	1	1366	557	1923
2023	2	6204	426	6630
2023	3	3696	562	4258
2023	4	2249	353	2602
2023	5	567	444	1011
2023	6	1012	310	1322
2023	7	2149	476	2625
2023	8	3126	364	3490
2023	9	103	273	376
2023	10	3448	236	3684
2023	11	6483	420	6903
2023	12	3640	313	3953
2024	1	2184	341	2525
2024	2	2318	185	2503
2024	3	1348	225	1573