In [12]:
import pandas as pd
df = pd.read_excel('주택건설_분양실적_공동주택__20240502121532.xlsx')
df

,순계,누계,순계.1,누계.1,순계.2,누계.2,순계.3,누계.3,순계.4,누계.4,...,순계.295,누계.295,순계.296,누계.296,순계.297,누계.297,순계.298,누계.298,순계.299,누계.299
0,404,404,404,404,0,0,0,0,914,1318,...,589,3539,477,4741,45,575,432,627,0,3539

In [13]:
colLength = len(df.columns)
colLength

600

In [16]:
for i in range(10000000):
    col1 = 8 * i + 2
    col2 = 8 * i + 4
    col3 = 8 * i + 6
    col4 = 8 * i + 0

    if col1 >= colLength or col2 >= colLength or col3 >= colLength:
        break

    print(f"{df.iloc[0, col1]}\t{df.iloc[0, col2]}\t{df.iloc[0, col3]}\t{df.iloc[0, col4]}")

404	0	0	404
681	55	178	914
2519	688	1604	4811
70	145	0	215
503	34	118	655
2685	694	2388	5767
844	395	572	1811
437	141	829	1407
710	359	220	1289
442	166	973	1581
614	0	921	1535
864	304	619	1787
843	0	15	858
1112	213	1546	2871
1364	168	603	2135
1932	44	612	2588
950	351	1041	2342
447	139	1133	1719
2132	64	405	2601
2002	0	1705	3707
660	114	1157	1931
612	97	860	1569
915	75	742	1732
2460	370	3367	6197
40	0	0	40
997	0	0	997
207	0	213	420
847	98	419	1364
1240	338	1785	3363
1870	1225	394	3489
5107	1325	9157	15589
430	0	233	663
165	0	0	165
237	0	162	399
1830	1216	0	3046
1051	1216	0	2267
0	173	0	173
1091	0	114	1205
34	0	48	82
194	0	0	194
648	0	4	652
224	322	2766	3312
199	0	0	199
201	0	0	201
1921	168	0	2089
77	0	0	77
114	0	85	199
169	15	0	184
467	157	777	1401
549	118	50	717
459	0	40	499
572	99	7	678
241	0	0	241
183	0	28	211
190	0	0	190
231	0	371	602
41	0	0	41
0	0	0	0
6830	1750	7682	16262
272	259	2191	2722
80	16	0	96
775	236	584	1595
700	433	673	1806
264	34	0	298
327	46	334	707
389	232	745	1366
753	440	20	1213
2111	680	1884	4675
373	258	955	1586
2105	1946	2211	6262
531	121	1013	1665
996	697	568	2261
290	195	2950	3435
240	0	589	829
45	432	0	477